In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('..\data\league_champion_win.csv')
data.head()

      game_id  team_id team_position champion_name   win
0  5893772458      100           TOP         Riven  True
1  5893772458      100        JUNGLE        LeeSin  True
2  5893772458      100        MIDDLE      Katarina  True
3  5893772458      100        BOTTOM          Jinx  True
4  5893772458      100       UTILITY          Bard  True

In [41]:
data_pivot = pd.pivot_table(data, index=['game_id', 'team_id'], columns='team_position', values='champion_name', aggfunc='max')
data_pivot.head()

team_position        BOTTOM    JUNGLE      MIDDLE     TOP UTILITY
game_id    team_id
5693035614 100      Caitlyn     Amumu         Vex   Fiora  Velkoz
           200         Ashe        Vi       Diana  Akshan   Brand
5693153109 100         Zeri   Trundle  Cassiopeia   Fiora    Sona
           200        Vayne  JarvanIV      Syndra   Jayce    Lulu
5696903179 100         Jhin  JarvanIV      Xerath   Fiora   Leona